# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* the commonly used libraries used by Data Scientists
* Table with three development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. SciPy
4. SciKit-Learn

|    Data Science Tools    |
|:------------------------:|
|    Jupyter Notebooks     |
|         GitHub           |
|       RStudio IDE        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
mins=200
#This will convert 200 minutes to hours by diving by 60
hr=mins/60
print(hr)

3.3333333333333335

## Author

Vishnu Varma .Tirumalaraju